body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

:root{
    --main-color : teal;
    --blue-color : blue;
    --white-color : white;
    --green-color : green; 
    --red-color : red;
    --orange-color : orange;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}

/*******************HEADER****************************/
header{
    height: 400px;
    position: relative;
 }
 header .header-image{
     height: 100%;
 }
 header .header-image img{
     width: 100%;
     height: 100%;
 }
 header .header-title{
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%,-50%);
     color: var(--white-color);
     text-align: center;
     text-transform: uppercase;
     z-index: 999;
 }
 .header-title h2{
     font-size: 2.5rem;
     color: var(--main-color);
     margin-bottom: 30px;
 }
 
 header .overlay{
     position: absolute;
     top: 0;
     left: 0;
     background-color: black;
     width: 100%;
     height: 100%;
     opacity: .5;
 }
 
/******************************CONTAINER**************************************/
.container{
    margin: 30px auto;
    width: 90%;
}

.liste-content .add-film{
    background-color: var(--main-color);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 20px;
}
.liste-content .add-film a{
    font-size: 1.5rem;
    text-transform: uppercase;
}

.add-liste{
    font-size: 1.7rem;
    color: violet;
    font-weight: bold;
    margin-bottom: 1rem;
    cursor: pointer;
}

form{
    position: relative;
}

button.valider{
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--main-color);
    color: var(--white-color);
    font-weight: bold;
    height: 40px;
    padding: 0 30px;
    border: none;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
}

.research-liste{
    margin-bottom: 1rem;
}
.research-liste input{
    margin-bottom: 10px;
    width: 100%;
    height: 40px;
    padding-left: 15px;
    font-size: 1.1rem;
    border-radius: 10px;
    outline: var(--main-color);
}

button.add-liste{
    margin-top: 20px;
    background-color: var(--main-color);
    padding: 10px 30px;
    font-size: 1.5rem;
    border: none;
    border-radius: 10px;
    color: var(--white-color);
    cursor: pointer;
}

.liste-title{
    text-align: center;
    margin-bottom: 1rem;
}

.film-header{
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    border-top: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
    padding: 10px;
}
.film-header >*{
    flex: 0 0 20%;
}

ul{
    list-style: none;
}
.films .film{
    display: flex;
    align-items: center;
    margin: 10px 0;
}
.film span,
.film input{
    flex: 0 0 20%;
}

.film input{
    outline: none;
    height: 35px;
}
.film button{
    padding: 10px 15px;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
}
.film .btn-primary{
    margin-right: 5px;
    background-color: var(--blue-color);
}
.film .btn-save{
    background-color: var(--orange-color);
}
.film .btn-success{
    background-color: var(--main-color);
}
.film .btn-danger{
    background-color: var(--red-color);
}

.none{
    display: none;
}